<%= form_for user do |f| %>
  <% if user.errors.any? %>
    <div class="text-danger">
      The following errors occurred when saving the user:

      <ul>
        <% user.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :emails %>
    <div id="userEmailList">
      <%= f.fields_for :user_emails do |e| %>
        <div class="input-group">
          <%= e.hidden_field :_destroy, class: 'destroy-field' %>
          <%= e.email_field :email, required: true, class: 'form-control' %>
          <span class="input-group-btn">
            <a class="btn btn-secondary btn-remove-email">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </span>
        </div>
      <% end %>
    </div>
    <br>
    <a id="addUserEmail" class="btn btn-sm btn-success">Add</a>
  </div>

  <div class="form-group">
    <%= f.label :user_fax_numbers, 'Fax Numbers' %>
    <div id="userFaxNumberList">
	    <small class="text-muted">
	      The fax number(s) in your Phaxio account to be used by this user for sending and receiving faxes.
	      Should be in e164 format (i.e. +15558675309).
	    </small>
	    <%= f.fields_for :user_fax_numbers do |n| %>
	    	<div class="input-group">
		    	<%= n.hidden_field :_destroy, class: 'destroy-field' %>
		    	<%= n.phone_field :fax_number, required: true, class: 'form-control' %>
		    	<span class="input-group-btn">
	          <a class="btn btn-secondary btn-remove-tel">
	            <i class="glyphicon glyphicon-trash"></i>
	          </a>
	        </span>
		  	</div>
    	<% end %>
    </div>
	  <br>
    <a id="addUserFaxNumber" class="btn btn-sm btn-success">Add</a>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
