<h1 class="page_title">Manage Users</h1>

<div class="page_actions">
  <%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
</div>

<table class="table users-table">
  <thead>
  	
  	<small class="text-muted row">
	  	<span>
	  		<a>
  				<i class="glyphicon glyphicon-ok"></i>
  			</a>
	  	</span> - Primary Number. The fax number you set as your primary number is used as Caller ID
		</small>
    <th>Edit</th>
    <th>Emails</th>
    <th>
    	<a><!-- This is a bit of a hack to keep the <th> element in line with the fax numbers -->
    		<i class="glyphicon glyphicon-ok" style="visibility: hidden"></i>
    	</a>
    	Fax Numbers
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td>
          <%= link_to user_path(user) do %>
            <% user.user_emails.each do |user_email| %>
              <span class="user-email"><%= user_email.email %></span>
            <% end %>
          <% end %>
        </td>
        <td>
	        <% user.user_fax_numbers.each do |user_fax_number| %>
	        	<ul class="list-unstyled">
		        <% if user_fax_number.primary_number %>
		        	<li>
		        		<a>
		        			<i class="glyphicon glyphicon-ok"></i>
		        		</a>
		        		<span class="user-fax-number"><%= user_fax_number.fax_number %></span>
		        	</li>
		        <% else %>
		        	<li>
		        		<a>
		        			<i class="glyphicon glyphicon-ok" style="visibility: hidden"></i>
		        		</a>
		        		<span class="user-fax-number"><%= user_fax_number.fax_number %></span>
		        	</li>
	        	<% end %>
	      		</ul>
	        <% end %>
      	</td>
      </tr>
    <% end %>
  </tbody>
</table>
