<h1 class="page_title">Manage Users</h1>

<div class="page_actions">
  <% if logged_in? %>
    <%= link_to "Log Out", :logout, method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Login", :login, class: "btn btn-primary" %>
    <%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
  <% end %>
</div>

<table class="table users-table">
  <thead>
    <th>Edit</th>
    <th>Email</th>
    <th>Fax Number</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <% if logged_in? && current_user.id == user.id %>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
        <% else %>
          <td></td> <!-- If I don't include this all td's shift to the right one-->
        <% end %>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.fax_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
