<h1 class="page_title">Manage Users</h1>

<div class="page_actions">
  <%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
</div>

<table class="table users-table">
  <thead>
    <th>Edit</th>
    <th>Emails</th>
    <th>Fax Numbers</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td>
          <%= link_to user_path(user) do %>
            <% user.user_emails.each do |user_email| %>
              <span class="user-email"><%= user_email.email %></span>
            <% end %>
          <% end %>
        </td>
        <td>
	        <% user.user_fax_numbers.each do |user_fax_number| %>
	        	<span class="user-fax-number"><%= user_fax_number.fax_number %></span>
	        <% end %>
      	</td>
      </tr>
    <% end %>
  </tbody>
</table>
