<% if @fax["direction"] == "received" %>
	<% if @fax['status'] == 'success' %>
  	<h1>You've received a new fax!</h1>
  <% else %>
  	<h1><%= @fax['from_number'] %> attempted to fax you.</h1>
  <% end %>
<% else %>
	<% if @fax["status"] == "success" %>
  	<h1>Your fax was sent successfully</h1>
  <% else %>
  	<h1>Your fax failed because: <%= @fax["most_common_error"] %></h1>
  <% end %>
<% end %>

<p><b>ID:</b> <%= @fax["id"] %></p>
<p><b>Status:</b> <%= @fax["status"] %></p>
<p><b>Number of Pages:</b> <%= @fax["num_pages"] %></p>
<% if @fax["direction"] == "received" %>
  <p><b>To:</b> <%= @fax["to_number"] %></p>
<% end %>
<p><b>From:</b> <%= @fax["direction"] == "received" ? @fax["from_number"] : @fax["caller_id"] %></p>
<% if @fax["status"] != "success" %>
	<p><b>Most Common Error:</b> <%= @fax["most_common_error"] %></p>
<% end %>

<% if @fax["direction"] == "received" %>
	<% if @fax["status"] == "success" %>
  	<p>The document has been attached to this email.</p>
  <% end %>
<% else %>
  <h2>Recipients</h2>
  <% @fax["recipients"].each do |recipient| %>
    <div class="recipient">
      <p><b>Number:</b> <%= recipient["number"] %></p>
      <p><b>Status:</b> <%= recipient["status"] %></p>
      <% if @fax["status"] != "success" %>
				<p><b>Error Message:</b> <%= recipient["error_code"] %></p>
			<% end %>
    </div>
  <% end %>
<% end %>
