<% if @fax["direction"] == "received" %>
  <h1>You've received a new fax!</h1>
<% else %>
  <h1>Your fax <%= @success ? "succeeded" : "failed" %>!</h1>
<% end %>

<p><b>ID:</b> <%= @fax["id"] %></p>
<p><b>Status:</b> <%= @fax["status"] %>
<p><b>Number of Pages:</b> <%= @fax["num_pages"] %></p>
<% if @fax["direction"] == "received" %>
  <p><b>To:</b> <%= @fax["to_number"] %></p>
<% end %>
<p><b>From:</b> <%= @fax["direction"] == "received" ? @fax["from_number"] : @fax["caller_id"] %></p>

<% if @fax["direction"] == "received" %>
  <p>The document has been attached to this email.</p>
<% else %>
  <h2>Recipients</h2>
  <% @fax["recipients"].each do |recipient| %>
    <div class="recipient">
      <p><b>Number:</b> <%= recipient["number"] %></p>
      <p><b>Status:</b> <%= recipient["status"] %></p>
    </div>
  <% end %>
<% end %>
